.card {
  display: inline-block !important;
  margin: 20px;
}
.projects {
  text-align: center;
  background: white;
}
.description {
  margin: 10px;
  height: 60px;
}
.view-details-button {
  padding: 10px;
  margin: 20px;
  color: black;
}
.view-details-button:hover {
  text-decoration: none;
  color: black;
}
