:root {
  --dark-grey: #252525;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: black;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
}
.grid-container {
  background: var(--dark-grey);
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: max-content auto 10%;
}
